<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app_consumer_verkt">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="수거수거"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_consumer_verkt">
        <activity
            android:name=".SignupActivity"
            android:exported="true" />
        <activity android:name=".LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReserveActivity"
            android:exported="true" />
        <activity
            android:name=".ListActivity"
            android:exported="true" />
        <activity android:name=".MainActivity">
        </activity>
    </application>

</manifest>